{% extends "kingadmin/index.html" %}

{% load kingadmin_tags %}

{% block extra-css %}

{% endblock %}

{% block content %}



{% endblock %}


{% block dashboard %}
    <!--  get the sites information and show them,
        includes app name and tables names-->
    {{ querysets }}
    <div>
    <form>
            {% for filter_obj in admin_class.list_filter %}
               {% build_filter_row filter_obj admin_class %}
            {% endfor %}
            <input type="submit" value="filter">
        </form>
    </div>
    <table class="table table-hover">
    <thead>
        <tr>
            <th>
                <td style="color: #993333">{{ model_name }} </td>
            </th>
            <!--show filter_list-->

        </tr>
    </thead>
    <!--  {'userprofile': None, 'student': None, 'menus': None}  -->
    <tbody>
    <!--get the list_display from admin_class from the backend and show them-->
    <tr>
        <th>
            {% for item in admin_class.list_display %}
                <td>{{ item }}</td>
            {% endfor %}
        </th>
    </tr>




    <!--get all the data from backend and show them-->
    <!--Gonna use tags to show data in the formated way nex step-->
    {% for  item in querysets %}
        <tr>
            <th>
               {% build_table_row item admin_class  %}
            </th>
        </tr>
    {% endfor %}
    </tbody>

    </table>

 
{% endblock %}