{% extends "kingadmin/index.html" %}

{% load kingadmin_tags %}

{% block extra-css %}

{% endblock %}

{% block content %}



{% endblock %}


{% block dashboard %}
    <!--  get the sites information and show them,
        includes app name and tables names-->
    {{ querysets }}
    <div>
    <form method="get">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Please search for " name="search_fileds">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span>Options</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        {% for v in admin_class.search_fields %}{{ v }}
                          <li>{{ v }}</li>
                        {% endfor %}
                    </ul>
                  </div>
                <input type="hidden" name="o" value="{% get_sorted_column admin_class %}">
                <input type="hidden" name="page" value="{{ querysets.number }}">
                <input type="hidden" value="{% get_filteredlist_pagenum admin_class querysets %}">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                  </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </form>
{#        <span>#}
{#             {% for k,v in admin_class.filtered_query %} name={{ k }} valuename="page" value="{{ querysets.number }}">#}
{#            {% get_filteredlist_pagenum admin_class querysets %}#}
{#        </span>#}
    <br>
    <br>
    </div>
    <div>
    {% if admin_class.list_filter %}
    <form>
            {% for filter_obj in admin_class.list_filter %}
               {% build_filter_row filter_obj admin_class%}
            {% endfor %}
            <input type="hidden" name="o" value="{% get_sorted_column admin_class %}">
            <input type="hidden" name="page" value="{{ querysets.number }}">
            <input type="submit" value="filter">


    </form>
    {% endif %}

    <!--action的选择和提交框 -->
    <form onsubmit="return ActionCheck(this)" method="post">{% csrf_token %}
        <div>
            <div class="col-sm-5">
                <select class="form-control" name="action">
                    <option value=''>--------</option>
                    {% for item in admin_class.actions %}
                        <option value="{{ item }}">{{item}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-5">
                <button  type="submit" class="btn btn-info">Action</button>
            </div>
        </div>
    </form>

    </div>
    <table class="table table-hover">
    <thead>
        <tr>

            <th>
                <td style="color: #993333">{{ model_name }} </td>
            </th>
            <!--show filter_list-->

        </tr>
    </thead>
    <!--  {'userprofile': None, 'student': None, 'menus': None}  -->
    <tbody>
    <tr>
        <th>
         <!--  checkbox有一定的约束条件  -->
        <input type="checkbox" onclick="SelectAllObjs(this)">
           <!--  render the display header 这里以list_display去render了所有需要显示的字段名  -->
            {% if admin_class.list_display %}
                {% for item in admin_class.list_display %}
                    <!--  add href for the column that could be ordered 在字段名中加入了排序的href  -->
                    <!--  add filtered_list and page num to the href 在字段名中加入了筛选和页面  -->
                    <td><a href="?o={% get_order_method need_sort_column_name item admin_class%}{% get_filteredlist_pagenum admin_class querysets %}">{{ item }}</a>
                        <!--  add_arrow for the column that ordered这里加入了显示排序方向的箭头  -->
                        {% build_order_method_arrow need_sort_column_name item admin_class %}
                    </td>
                {% endfor %}
            {% else %}
                {% get_model_name admin_class %}
            {% endif %}
        </th>
    </tr>


    <!--get all the data from backend and show them-->
    <!--Gonna use tags to show data in the formated way nex step-->
    {% for  item in querysets %}
        <tr>
            <th>
                <!--  checkbox有一定的约束条件  -->
                 <!--  value就是这个checkbox带到后端的值对-->
                <input row-select="true" type="checkbox" value="{{ item.id }}">
                {% build_table_row forloop.counter item admin_class  %}
            </th>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    {% build_page_navigation querysets admin_class %}

    <div class="pagination">
        <span class="step-links">
            {% if querysets.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ querysets.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ querysets.number }} of {{ querysets.paginator.num_pages }}.
            </span>

            {% if querysets.has_next %}
                <a href="?page={{ querysets.next_page_number }}">next</a>
                <a href="?page={{ querysets.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


{% endblock %}



{% block script %}
<script>
function SelectAllObjs(ele) {

    if($(ele).prop('checked')){
        $('input[row-select]').prop('checked',true)
    } else {
        $('input[row-select]').prop('checked',false)
    }

}

function ActionCheck(ele) {
    //去到action里面的值 也就是要做的action
    var selected_action = $("select[name='action']").val();
    //把下面的input 的checkbox中的所有打上勾勾的选出来
    var selected_objs = $("input[row-select]").filter(":checked");
    //如果没有选择action或者打上勾的行数为零
    if (!selected_action){
        alert("No action selected")
        false
    }
    if (selected_objs.length == 0){
        alert("No action selected")
        false
    } else {
        //生成一个标签，放到form里
        var selected_ids = []
        $.each(selected_objs, function () {
            selected_ids.push($(this).val())
        })
        var input_ele = "<input type='hidden' name='selected_ids' value=" +
            JSON.stringify(selected_ids) + ">"
    }

    $(ele).append(input_ele);
}


</script>
{% endblock %}